// Specific CSS for your home-page
body {
  background-image: url('/assets/star4.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  color: white;
}

/* Fallback for browsers that do not support WebP */
@supports (background-image: url('/assets/star4.webp')) {
  body {
    background-image: url('/assets/star4.webp');
  }
}

/* Fallback image for browsers that do not support WebP */
body {
  background-image: url(asset_path('star4.jpeg'));
}

.row {
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.animated-number-container {
  font-size: 52px;
  justify-content: center;
  font-weight: bold;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.7),;
  margin: 32px auto;
}
