<div class="text-center">
  <h2>Your Stardate</h2>
  <p><%= stardate %></p>
  <%= button_to "Recalculate", root_path, method: :get, class: "btn btn-primary", data: { turbo_frame: "form_frame" } %>
</div>
