<div class="container mt-5">
  <div class="row">
    <div class="col-12 col-md-8 col-lg-6">
      <h1 class="text-center">Stardate Calculator</h1>

      <%= turbo_frame_tag "form_frame" do %>
        <%= render 'form' %>
      <% end %>

      <%= turbo_frame_tag "result_frame" do %>
        <!-- Result will be rendered here -->
      <% end %>
    </div>
  </div>
</div>
