// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

// Fonts configuration
:root {
  --font-primary: 'Orbitron', sans-serif;
  --font-buttons: 'Monofett', sans-serif;
}

// Apply the primary font to the body and secondary font to headings
body {
  font-family: var(--font-primary);
  letter-spacing: 3px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-primary);
  margin-bottom: 20px;
}

// Media queries
.form-group {
  margin-bottom: 15px;
}

@media (max-width: 576px) {
  h1 {
    font-size: 1.5rem;
  }

  .btn {
    width: 100%;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }
}

@media (min-width: 769px) {
  h1 {
    font-size: 2.5rem;
  }
}
